<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mutualmobile.praxis">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".ui.joke.ShowJokeActivity"/>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="9033e6cb73cf123a9688b79c918643d1cb4a505d"/>

    <activity
        android:name=".ui.onboard.OnBoardActivity"
        android:label="@string/title_activity_splash"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>